  <style>/*<![CDATA[*/
/* Font Body and Heading */ 
@font-face{font-family: 'Noto Sans';font-style: italic;font-weight: 400;font-display: swap;src: url(https://fonts.gstatic.com/s/notosans/v11/o-0OIpQlx3QUlC5A4PNr4ARMQ_m87A.woff2) format('woff2'), url(https://fonts.gstatic.com/s/notosans/v11/o-0OIpQlx3QUlC5A4PNr4DRG.woff) format('woff')} @font-face{font-family: 'Noto Sans';font-style: italic;font-weight: 700;font-display: swap;src: url(https://fonts.gstatic.com/s/notosans/v11/o-0TIpQlx3QUlC5A4PNr4Az5ZuyDzW0.woff2) format('woff2'), url(https://fonts.gstatic.com/s/notosans/v11/o-0TIpQlx3QUlC5A4PNr4Az5ZtyH.woff) format('woff')} @font-face{font-family: 'Noto Sans';font-style: normal;font-weight: 400;font-display: swap;src: url(https://fonts.gstatic.com/s/notosans/v11/o-0IIpQlx3QUlC5A4PNr5TRA.woff2) format('woff2'), url(https://fonts.gstatic.com/s/notosans/v11/o-0IIpQlx3QUlC5A4PNb4Q.woff) format('woff')} @font-face{font-family: 'Noto Sans';font-style: normal;font-weight: 700;font-display: swap;src: url(https://fonts.gstatic.com/s/notosans/v11/o-0NIpQlx3QUlC5A4PNjXhFVZNyB.woff2) format('woff2'), url(https://fonts.gstatic.com/s/notosans/v11/o-0NIpQlx3QUlC5A4PNjXhFlYA.woff) format('woff')}

/* Source Code Font */ 
@font-face {font-family: 'Fira Mono';font-style: normal;font-weight: 400;font-display: swap;src: local('Fira Mono Regular'), local('FiraMono-Regular'), url(https://fonts.gstatic.com/s/firamono/v9/N0bX2SlFPv1weGeLZDtQIg.woff) format('woff'), url(https://fonts.gstatic.com/s/firamono/v9/N0bX2SlFPv1weGeLZDtgJv7S.woff2) format('woff2')}

/* custom css start */
.itm {content-visibility: auto;}
/*Table of Contents*/
details.sp { font-size: .93rem; padding: 25px 25px 25px 45px; border: 1px solid #989b9f; border-left: 0; border-right: 0; line-height: 1.7em;
}  
/*Shadow Style*/
.pShc >*, .blogPg >*,.pInf.ps,.cmBtn,.wL.cl .lbN,.follow-widget,.ntfC,.related-simplify {border: var(--headerL) solid var(--contentL); box-shadow: rgb(106 144 255) 0 2px 5px;
}
/*Image*/
/*.pS img {box-shadow: rgb(106 144 255 / 68%) 0 0px 20px
}*/
/*heading*/
.h22,.h33,.h44,.h55,.h66 {color: whitesmoke!important;font-weight: 600;background-image: linear-gradient(to right, #12d8fa 0%, #1fa2ff 50%, #12d8fa 100%);padding: 10px 10px 10px 35px;border-radius: 8px;padding: 12px;box-shadow:rgb(106 144 255 / 68%) 0 0px 20px;}
.h22 {font-size: 25px !important;}
.h33 {font-size: 21px !important;}
.h44 {font-size: 17px !important;}
.h55 {font-size: 15px !important;}
.h66 {font-size: 13px !important;}
.size-full {box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);border-radius: 15px;
}
/* Notif Section */
.ntfC{ border-radius: 15px; min-height: var(--notifH); color: var(--notifC); font-size: 13px; transition: var(--trans-1); } 
.main-menu{border-bottom:0 solid rgba(230,230,230,.5);margin-bottom:15px; overflow:hidden;font-weight:700;font-size:100%}
.main-menu ul{margin:0;padding:0;list-style:none;white-space:nowrap}
.main-menu li{margin:1px 2px 1px 2px; border: 1px solid var(--bodyCa);border-radius: 13px;}
.main-menu li:hover {background-image: linear-gradient(to right, #b3b3b3 0%,#ffffff 50%, #c1c1c1 100%);border: 1px #dbdbdb;-webkit-transition: all 250ms linear;transition: all 250ms linear;}
.main-menu li > *{display:block;font-weight:900;font-size:110%;color:#000000;position:relative}

.pt-wrapper {margin:auto; display: flex; }
.pt {--pricing-table-color: #3676ec; grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));grid-gap: 1px; padding: 0;list-style-type: none;}
.pt-title {box-shadow: rgb(106 144 255) 0 2px 10px;border-radius: 5px;background-image: linear-gradient(to right, #12d8fa 0%, #1fa2ff 50%, #12d8fa 100%);margin-top: auto; font-size: 1.7em;text-transform: none;width: 100%;color: #000000;margin: 0;}
.pt-silo1 {align-items: center; box-shadow:rgb(23 43 99 / 15%) 0 2px 15px; transition: box-shadow 200ms cubic-bezier(0.02, 0.01, 0.47, 1), transform 200ms cubic-bezier(0.02, 0.01, 0.47, 1);}
.pt-products {margin-bottom: 0em; margin-top: 0.6em;list-style-type: none;}
.pt-product {align-items: center; font-weight: bold; margin-bottom: 0.4em;}
.pt-item-popular::before { position: absolute; content: attr(data-popular); top: 2em; right: 2em; font-size: 0.9em;padding: 0 1em;background-color: #ffd900;border-radius: 0.1em;color: #282824;}
.pt-product::before {content: ' '; width: 0.5em; height: 0.5em; margin-inline-end:1em; border-radius: 20%;background-color: var(--pricing-table-color);border-radius: 50%;}

.pt-silo2 {display: flex;width: 16.2em;flex-direction: column; align-items: center; padding: .5em; margin:0 1px 0 1px; box-shadow:rgb(23 43 99 / 15%) 0 2px 15px; transition: box-shadow 200ms cubic-bezier(0.02, 0.01, 0.47, 1), transform 200ms cubic-bezier(0.02, 0.01, 0.47, 1);}

.pt-story1 {padding: 1px 1px 1px; margin:0 1px 0 1px; transition: box-shadow 200ms cubic-bezier(0.02, 0.01, 0.47, 1), transform 200ms cubic-bezier(0.02, 0.01, 0.47, 1);}
.pt-story2 {padding: 1px 1px 1px; margin:0 1px 0 1px; transition: box-shadow 200ms cubic-bezier(0.02, 0.01, 0.47, 1), transform 200ms cubic-bezier(0.02, 0.01, 0.47, 1);}
.pt-button {outline: 0; border: 0; border-radius: 10px; line-height: 5px; color: #ff0000; font-size: 13px; font-family: var(--fontB); white-space: nowrap; overflow: hidden;border: var(--headerL) solid var(--contentL); box-shadow: rgb(106 144 255) 0 2px 5px;}
.pt-button a{ color:#1b00ff}
.view-button { display: inline-flex; align-items: center; margin: 20px; margin-top: 6px; margin-bottom: 6px; padding: 5px; outline: 0; border: 0; border-radius: 10px; line-height: 5px; color: #fffdfc; background: var(--linkBg); font-size: 13px; font-family: var(--fontB); white-space: nowrap; overflow: hidden; width: 80px; height: 22px; max-width: 100%;}
/* Blockquote */
blockquote, .cmC i[rel="quote"]{position:relative; 
/*font-size:1rem; line-height:1.8em ;margin-top:5px; margin-bottom:5px;margin-left:0;margin-right:0; padding:8px 8px; border-left:3px solid #ff0000 */} 
blockquote { background-image: url(https://blogger.googleusercontent.com/img/a/AVvXsEig6JjeycdUCsHveVEbLJa2CUPDvNNiWxuV0c219Fqj9cO2I3xDE1BfYKiAb9sPD6riEmkyfMct2XavDOcnE-bbGNYEf8cSBTlZQKbU3sjRYur8dYvjTUz-xF1xbJyUv7zjWZy6BGWX9_wCQ2UOUkPARkt_Lt-JEjFD8rV4S7CKPT-H4mt1kHMD-I28=s480); background-position: center; background-repeat: no-repeat;}
blockquote{font-weight: 600; font-size:130%; border-bottom:4px solid #1EA4FF;border-left:0.5px solid #1EA4FF; border-right:4px solid #1EA4FF; border-top:0.5px solid #1EA4FF; border-radius: 9px 30px; box-shadow: rgb(158 118 255 / 63%) 0 3px 9px;} 
blockquote:before{content:"\0022";position:absolute;top:5px;left:0; font-weight:700;font-size:60px; line-height:normal;opacity:.5} 
blockquote span.author {position: relative; display: block; text-align: right; margin-top: 5 px; color: #999;}
blockquote span.author::before {display:block; content:""; position:absolute; top:50%; left:0; width:70%; height:1px; background:#ccc; z-index:1; }
blockquote i {}
blockquote p {}
blockquote b{padding: 0 4px;}
blockquote r{font-weight: 900; padding: 0 4px; color: red;}
blockquote g{font-weight: 900; padding: 0 4px; color: #02cb02;}
blockquote y{font-weight: 900; padding: 0 4px; color: #ffb100;}

/*]]>*/</style>
